body {
  overflow-x: hidden;
}

$m-negatives: ("1": "-0.25", "2": "-0.5", "3": "-1", "4": "-1.5", "5": "-3");

@each $name, $measure in $m-negatives {
  .m--#{$name} {
    margin: #{$measure}rem !important;
  }
  .mt--#{$name} {
    margin-top: #{$measure}rem !important;
  }
  .mb--#{$name} {
    margin-bottom: #{$measure}rem !important;
  }
  .ml--#{$name} {
    margin-left: #{$measure}rem !important;
  }
  .mr--#{$name} {
    margin-right: #{$measure}rem !important;
  }

  .p--#{$name} {
    margin: #{$measure}rem !important;
  }
  .pt--#{$name} {
    margin-top: #{$measure}rem !important;
  }
  .pb--#{$name} {
    margin-bottom: #{$measure}rem !important;
  }
  .pl--#{$name} {
    margin-left: #{$measure}rem !important;
  }
  .pr--#{$name} {
    margin-right: #{$measure}rem !important;
  }
}

.rounded-20 {
  border-radius: 20px !important;
}