$body-bg: #f0f5f9;
$enable-shadows : true;
$enable-responsive-font-sizes : true;

$primary: #2962ff;
$secondary: #6c757d;
$success: #36bea6;
$info: #4fc3f7;
$warning: #ffbc34;
$danger: #f62d51;
$light: #f8f9fa;
$dark: #212529;
